h2.work {
  font-weight: $font-weight-bold;
  color: $turquoise;
  margin: 5px 10px 30px 9px;
}

h2.repository {
  font-weight: $font-weight-bold;
  color: $turquoise;
  margin: 5px 10px 10px 10px;
}

h2.member {
  font-weight: $font-weight-bold;
  margin: 5px 10px 10px 10px;
}

h3.edit {
  font-weight: $font-weight-bold;
  margin: 5px 10px 10px 10px;
  color: $turquoise;
}

.panel.facets.add {
  margin-top: 1em;
}

.panel.panel-transparent.add {
  margin-top: 1em;
}
