pre.metadata {
  background-color: $white-bg;
  border: 0;
  padding: 0;
}
textarea.metadata {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-left-width: 1px;
  border-left-color: #E3E3E3;
}
select.metadata {
  border-left-width: 1px;
  border-left-color: #E3E3E3;
}
.help-block {
  margin-left: 5px;
  margin-top: 20px;
}

.license {
  font-size: 25px;
  
  i {
    padding-top: 3px;
  }
  a {
    color: $wet-asphalt;
  }
}
