pre.metadata {
  background-color: $white-bg;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  padding: 0;
  border: 0;
}
select.metadata {
  border-left-width: 1px;
  border-left-color: #E3E3E3;
}
.help-block {
  margin-left: 5px;
  margin-top: 20px;
}

code#output {
  background-color: white;
}
