h3.results {
  margin: 0 0 .35em .75em;
  font-weight: bold;
}
h3.member-results, h3.user-results, h3.work-results, h3.data-center-results {
  font-weight: bold;
  color: $turquoise;
  border-bottom: 1px solid $medium-gray;
  padding: 0;
  margin: 0 0 .35em 10px;

  .small { font-size: $font-size-base; }
}
h3.user-results {
  border-bottom: 0;
}
.col-md-9#content-work, .col-md-9#content-contributor, .col-md-9#content-data-center, #content-data-center, #content-member, #content-user {
  padding-bottom: 1em;
}
.img-big {
  margin: 4.5em 0 2em 0;
}
.centered, .search {
  margin: auto;
  max-width: 700px;
  padding-bottom: 1.5em;
}
