_site/*
.sass-cache
.DS_Store
.Rhistory
_frontend/node_modules/*
_frontend/bower_components/*
assets/jquery
assets/fitvids
assets/bootstrap
assets/bootstrap-sass
assets/bootstrap-social
assets/font-awesome
