// DataCite Design Manual v2.1 - Brand Colors
// https://datacite.org/wp-content/uploads/2024/06/DataCite_Design_manual-version_2_1.pdf

// Primary colors
$datacite-primary-dark-blue:  #243B54 !default;
$datacite-primary-light-blue: #00B1E2 !default;

// Secondary colors (use in combination with primary dark blue)
$datacite-secondary-grey:       #C0CED6 !default;
$datacite-secondary-gray:       $datacite-secondary-grey !default;
$datacite-secondary-turquoise:  #46BCAB !default;
$datacite-secondary-light-red:  #F07C73 !default;

// Additional colors
$datacite-medium-blue:          #0D60D4 !default;
$datacite-dark-pink:          #BC2B66 !default;
$datacite-lime:               #E2E254 !default;

// Gradient endpoints (for backgrounds, infographics)
$datacite-gradient-start:     $datacite-primary-light-blue !default;
$datacite-gradient-end:       $datacite-primary-dark-blue !default;
