#banner {
    width: 100%;
    font-weight: bold;
    font-family: 'Raleway', "Helvetica", Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    padding: 8px;
    color: white;
    text-align: center;
    background-color: #EB5E28;
    opacity: 0.5;
    position: relative;
    z-index: 100;
}
