#banner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0.5em;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: red;
    z-index: 100;
}

#banner:after {
    content: "";
    display: table;
    clear: both;
}
