$grid-float-breakpoint:   480px;

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

@import "ct-paper";

@import "bootstrap-social/bootstrap-social";

.container-fluid {
  max-width: 1420px;
  padding: 0 1em;
}
.alert {
  margin-top: -20px;

  h4 {
    margin-bottom: 4px;
  }
}
.landing-header {
  background-size: cover;
  min-height: 450px;
  margin-top: -122px;

  .motto{
    padding-top: 15%;
    text-align: center;
    color: white;
  }
}
.landing-alert-header {
  background-size: cover;
  min-height: 450px;
  margin-top: -20px;

  .motto{
    padding-top: 15%;
    text-align: center;
    color: white;
  }
}
.landing-section {
  margin-top: -122px;
}
.landing-alert {
  margin-top: -25px;
}
.row-section {
  margin: 0;
}
pre {
  font-size: $font-size-small;
}
ul li {
  font-weight: normal;
  font-size: 16px;
  line-height: $line-height-general;
  text-align: start;
}
.dropdown-menu li a {
  font-size: 16px;
}
.section-light-blue, .section-dark-blue, .section-light-brown {
  a {
    color: #FFFFFF;
    font-weight: bold;
  }
}
.register-background {
  background-size: cover;
  min-height: 1000px;
  overflow: hidden;
  width: 100%;
  margin-top: -122px;

  .container{
    margin-top: 12%;
    position: relative;
    z-index: 3;
  }
}
.register-card {
  background-color: $white-color;
  border-radius: 8px;
  max-width: 350px;
  margin: 20px 0 70px;
  min-height: 420px;
  padding: 30px;

  .title {
    text-align: center;
  }
  .btn {
    margin-top: 20px;
    padding-left: 50px;
    font-size: 16px;
  }
}

.btn-orcid {
  @include btn-social(#9dc33a);
}

.footer {
  font-size: 16px;
  width: 100%;
  color: $dark-gray;
  background-color: $light-gray;
  padding: .75em 0;
  margin: 0;

  h4, h5 {
    font-size: $font-size-large;
    margin-top: .5em;
    margin-bottom: .1em;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a, a:hover, a:visited {
    color: $dark-gray;
  }
  h4.share {
    margin-bottom: .5em;
  }
  a.share {
    margin-right: .5em;
    font-size: 24px;
  }
  ul.share {
    margin-top: .5em;
  }
}
