$font-size-base:          18px !default;
$font-paragraph:          18px !default;
$font-size-small:         16px !default;

$grid-float-breakpoint:   480px;

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-social/bootstrap-social";

@import "ct-paper";

.container-fluid {
  max-width: 1420px;
  padding: 0 1em;
}

.landing-header {
  background-size: cover;
  min-height: 400px;
  margin-top: -122px;

  .motto{
    padding-top: 15%;
    text-align: center;
    color: white;
  }
}
.landing-alert-header {
  background-size: cover;
  min-height: 400px;
  margin-top: -25px;

  .motto{
    padding-top: 15%;
    text-align: center;
    color: white;
  }
}
.landing-section {
  margin-top: -122px;
}
.landing-alert {
  margin-top: -25px;
}
.row-section {
  margin: 0;
}
pre {
  font-size: $font-size-small;
}
ul li {
  font-weight: normal;
  line-height: $line-height-general;
  text-align: start;
}
.dropdown-menu li a {
  font-size: $font-size-small;
}
.section-light-blue, .section-dark-blue, .section-light-brown {
  a {
    color: #FFFFFF;
    font-weight: bold;
  }
}

.footer {
  font-size: $font-size-small;
  width: 100%;
  color: $dark-gray;
  background-color: $light-gray;
  padding: .75em 0;
  margin: 0;

  h4, h5 {
    font-size: $font-size-large;
    margin-top: .5em;
    margin-bottom: .1em;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a, a:hover, a:visited {
    color: $dark-gray;
  }
  h4.share {
    margin-bottom: .5em;
  }
  a.share {
    margin-right: .5em;
    font-size: 24px;
  }
  ul.share {
    margin-top: .5em;
  }
}
