pre.metadata {
  font-size: 12px;
}
textarea.metadata {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
}

.help-block {
  margin-left: 5px;
  margin-top: 20px;
}
