---
title: Home
---
<div class="container-fluid">
  <div class='row'>
    <div class='col-md-9'>
      <div class="panel panel-default post-list">
        <div class="panel-body">
          The DataCite Assets server hosts common images and CSS files used by DataCite services.
        </div>
      </div>
    </div>
  </div>
</div>
