---
title: Home
---
<div class="wrapper">
  <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
  <div class="landing-header" style="background-image: url('../images/segugio/assets.jpg');">
    <div class="container">
      <div class="motto">
        <h1>DataCite Assets</h1>
        <p>CSS, javascripts and images used by DataCite services.</p>
      </div>
    </div>
  </div>
</div>
