---
title: Home
---
<div class="container-fluid">
  <div class="jumbotron">
    <p><strong>DataCite Assets</strong> hosts CSS files, javascripts and images used by DataCite services.</p>
  </div>
</div>
