name: Deploy
on:
  workflow_call:
    inputs:
      RACK_ENV:
        required: true
        type: string
      ENV_FILE:
        required: true
        type: string
      GIT_SHA:
        required: true
        type: string
    secrets:
      S3_BUCKET:
        required: true
      S3_REGION:
        required: true
      CLOUDFRONT_DISTRIBUTION_ID:
        required: true  
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Get cached build
      uses: actions/cache@v4
      with:
        path: build
        key: assets-build-${{ inputs.GIT_SHA }}-${{ inputs.RACK_ENV }}
        restore-keys: |
          assets-build-${{ inputs.GIT_SHA }}-${{ inputs.RACK_ENV }}

    # It is important that we do NOT use --delete (matches previous delete-removed: false)
    - name: Sync build to S3
      run: aws s3 sync build s3://${{ secrets.S3_BUCKET }} --region ${{ secrets.S3_REGION }}

    - name: Invalidate CloudFront
      run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
