name: Build/Deploy Branch to Staging
on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/_build.yml
    with:
      RACK_ENV: stage
      ENV_FILE: .env.stage
      GIT_SHA: ${{ github.sha }}

  deploy:
    needs: [build]
    uses: ./.github/workflows/_deploy.yml
    with:
      RACK_ENV: stage
      ENV_FILE: .env.stage
      GIT_SHA: ${{ github.sha }}
    secrets:
      S3_BUCKET: ${{ secrets.STAGE_S3_BUCKET }}
      S3_REGION: ${{ secrets.STAGE_S3_BUCKET_REGION }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.STAGE_CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
