name: Test Pull Request

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/_build.yml
    with:
      RACK_ENV: stage
      ENV_FILE: .env.stage
      GIT_SHA: ${{ github.sha }}
