name: Test Pull Request

on:
  pull_request:
    branches:
      - master

env:
  RACK_ENV: stage
  ENV_FILE: .env.stage

jobs:
  build:
    uses: ./.github/workflows/_build.yml
    with:
      RACK_ENV: ${{ env.RACK_ENV }}
      ENV_FILE: ${{ env.ENV_FILE }}
      GIT_SHA: ${{ github.sha }}
