name: Release to Production
on:
  release:
    types: [published]

jobs:
  build:
    uses: ./.github/workflows/_build.yml
    with:
      RACK_ENV: production
      ENV_FILE: .env.production
      GIT_SHA: ${{ github.sha }}

  deploy:
    needs: [build]
    uses: ./.github/workflows/_deploy.yml
    with:
      RACK_ENV: production
      ENV_FILE: .env.production
      GIT_SHA: ${{ github.sha }}
    secrets:
      S3_BUCKET: ${{ secrets.S3_BUCKET }}
      S3_REGION: ${{ secrets.S3_BUCKET_REGION }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
